body{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    background: url(imagee3.jpg) no-repeat ;
    background-size: cover;
}
.main-box{
    width:25%;
    box-shadow:0 05px rgb(128, 128, 128),inset 0 0 10px black;
    height:95vh;
    display:flex;
    color:rgb(106, 214, 231);
    font-weight:500;
}
.main-box>.box-one{
    width:95%;
    margin-left:2.3%;
    border:1px solid rgb(12, 92, 150);
    height:92vh;
    margin-top:6px;
    background: linear-gradient(20deg,rgb(38, 36, 36) 10% ,rgb(76, 68, 68) 40%);
}
.main-box>.box-one>.box-two{
    display: flex;
    flex-direction: column;
    width:95;
    margin-left:2.5%;
}
.main-box>.box-one>.box-two>span{
    display:flex;
    justify-content: space-around;
} 
.main-box>.box-one>.box-two>span>small{
    font-size:10px;
    margin-top:4px;

}
.main-box>.box-one>.box-two>span>button{
    width:80px;
    height:28px;
    margin-top:3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(245, 179, 209);
    outline: rgb(7, 18, 135);
    background-color: rgb(132, 12, 88);
    padding:1px 3px;
    margin-left:2px;
}
.main-box>.box-one>.box-two>span>button:hover{
    transform: scale(0.95);
}

.main-box>.box-one>.box-three{
    display: flex;
    flex-direction: column;
    width:95%;
    margin-left:2.5%;
}
.main-box>.box-one>.box-three>span{
    display:flex;
    justify-content: space-around;
} 
.main-box>.box-one>.box-three>span>button{
    width:80px;
    margin-top:3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height:33px;
    background-color: rgb(4, 90, 96);
    color: rgb(12, 185, 130);
    outline: none;
    margin-left:2px;
}
.main-box>.box-one>.box-three>span>button:hover{
    transform: scale(0.95);
}
.main-box>.box-one>.box-three>span>small{
    font-size:10px;
}
.main-box>.box-one>.box-one-top{
    width: 95%;
    margin-left :2.5%;
    height:26vh;
    box-shadow:inset 0 0 10px grey;
    border:1px solid rgb(28, 4, 28);
}
.main-box>.box-one>.box-one-top>#box-one-buttom{
    width: 95%;
    margin-left:2.5%;
    display: flex;
    justify-content: space-around;
}
.main-box>.box-one>.box-one-top>#box-one-buttom>button{
    width: 100px;
    margin-left: 2px;
    margin-top: 6px;
    height:25px;
    outline:none;
    color:rgb(53, 117, 227);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(2, 2, 59);


}
.main-box>.box-one>.box-one-top>#box-one-buttom>button:hover{
    transform:scale(0.95);
}

.main-box>.box-one>.box-one-top>#box-one-text{
    display:flex;
    margin-top: 4px;
    font-size: 13px;
    justify-content: space-around;


}

.main-box>.box-one>.box-one-top>#box-one-middle{
    width: 95%;
    margin-left:2.5%;
    height:15vh;
    margin-top: 4px;
    border:1px solid rgb(15, 225, 193);
    box-shadow: inset 0 0 8px rgb(232, 144, 144);
}
.main-box>.box-one>.box-one-top>#box-one-middle>input[type=text]{
    width: 95%;
    height: 13vh; 
    border: None;
    box-shadow: 0 0 8px black;
    margin-left:2.5%;
    margin-top:3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;

}
@media(max-width:830px){
    .main-box{
        width:100%;
    }
}
